doctype html
html(lang="en")
    head
        title Icon pack
        link(rel="stylesheet", href="./styles/icons.css")
        link(rel="stylesheet", href="./styles/index.css")
        link(rel="icon", href="../resources/images/icon/star_16px.svg")

    body
        div.icon_pack-wrapper

            span.search-wrapper
                input(type="text", class="search", placeholder="Search icon")

                - var classes = ['search-state', 'prevent-select']
                span(class=classes) /

            ul.icon-container
                mixin listItem(item)
                    li
                        img(src=item.source, alt=item.alt)
                        p= item.name

                        div.copy-btn
                            - var classes = ['svg-icon', 'svg-icon-copy', 'svg-icon-bg-black']
                            div(class=classes)

                each val, idx in listItems
                    +listItem(val)

        div.icon-modal
            div.modal-content
                span.close.prevent-select &times
                p.prevent-select выберите цвет и скопируйте класс иконки

                    .modal-content-row.row-icons
                        .info-content
                            div.icons
                                div.icon-content
                                    div.svg-description default
                                    div.icon-wrapper
                                        div.icon
                                            div(class=['svg-icon'])

                                div.icon-content
                                    div.svg-description black
                                    div.icon-wrapper
                                        div.icon
                                            div(class=['svg-icon', 'svg-icon-bg-black'])

                                div.icon-content
                                    div.svg-description gray
                                    div.icon-wrapper
                                        div.icon
                                            div(class=['svg-icon', 'svg-icon-bg-gray'])

                                div.icon-content
                                    div.svg-description inverse
                                    div.icon-wrapper
                                        div.icon
                                            div(class=['svg-icon', 'svg-icon-bg-white'])

                                div.icon-content
                                    div.svg-description disabled
                                    div.icon-wrapper
                                        div.icon
                                            div(class=['svg-icon', 'svg-icon-disabled'])

                    .modal-content-row
                        .info-content 
                            span.info-content__cls
                            .copy-btn-wrapper 
                                button copy   

                    .modal-content-row.row-icons
                        .info-content
                            div
                                p Пример использования:
                                pre 
                                    code 
                                        | { 
                                        |   xtype: 'button',
                                        |   iconCls: 'svg-icon svg-icon-edit',
                                        | }

        script(src='./iconpack.js')
