doctype html
html(lang="en")
    head
        title Icon pack
        link(rel="stylesheet", href="./styles/icons.css")
        link(rel="stylesheet", href="./styles/index.css")
        link(rel="icon", href="../resources/images/icon/star_16px.svg")
        script 
            - const str = `
            -    window.icons = {
            -       project: [${listItems.map(el => JSON.stringify(el)).join(', ')}],
            -       fontAwesome: [${faListItems.map(el => JSON.stringify(el)).join(', ')}]
            -    }
            - `
            != str

    body
        div.icon_pack-wrapper

            .search-container 
                span.search-wrapper
                    input(type="search", class="search", placeholder="Search icon")

                    - var classes = ['search-state', 'prevent-select']
                    span(class=classes) /

                .icons-pack
                    span.active Project 
                    span Font awesome

            ul.icon-container.project-icon-container.active
                mixin listItem(item)
                    li
                        img(src=item.source, alt=item.alt)
                        p= item.name

                        div.copy-btn
                            - var classes = ['svg-icon', 'svg-icon-copy', 'svg-icon-bg-black']
                            div(class=classes)

                each val, idx in listItems
                    +listItem(val)

            ul.icon-container.fa-icon-container
                mixin listItem(item)
                    li
                        img(src=item.source, alt=item.alt)
                        p= item.name

                        div.copy-btn
                            - var classes = ['svg-icon', 'svg-icon-copy', 'svg-icon-bg-black']
                            div(class=classes)

                each val, idx in faListItems
                    +listItem(val)

        div.icon-modal
            div.modal-content
                span.close.prevent-select &times
                p.prevent-select выберите цвет и скопируйте класс иконки

                    .modal-content-row.row-icons
                        .info-content
                            div.icons
                                div.icon-content
                                    div.svg-description default
                                    div.icon-wrapper
                                        div.icon
                                            div(class=['svg-icon'])

                                div.icon-content
                                    div.svg-description black
                                    div.icon-wrapper
                                        div.icon
                                            div(class=['svg-icon', 'svg-icon-bg-black'])

                                div.icon-content
                                    div.svg-description gray
                                    div.icon-wrapper
                                        div.icon
                                            div(class=['svg-icon', 'svg-icon-bg-gray'])

                                div.icon-content
                                    div.svg-description inverse
                                    div.icon-wrapper
                                        div.icon
                                            div(class=['svg-icon', 'svg-icon-bg-white'])

                                div.icon-content
                                    div.svg-description disabled
                                    div.icon-wrapper
                                        div.icon
                                            div(class=['svg-icon', 'svg-icon-disabled'])

                    .modal-content-row
                        .info-content 
                            span.info-content__cls
                            .copy-btn-wrapper 
                                button copy   

                    .modal-content-row.row-icons
                        .info-content
                            div
                                p Пример использования:
                                div(style='margin-left: 16px;color: gray;margin-top: 2em;')
                                    div {
                                    div(style='margin-left:24px') xtype: 'button',
                                    div(style='margin-left:24px') iconCls: 'svg-icon svg-icon-edit',
                                    div }

        script(src='./iconpack.js')
