doctype html
html(lang="en")
    head
        title Icon pack
        link(rel="stylesheet", href="./styles/icons.css")
        link(rel="stylesheet", href="./styles/index.css")
        link(rel="icon", href="../resources/images/icon/star_16px.svg")

    body
        div.icon_pack-wrapper

            span.search-wrapper
                input(type="text", class="search", placeholder="Search icon")

                - var classes = ['search-state', 'prevent-select']
                span(class=classes) /

            ul.icon-container
                mixin listItem(item)
                    li
                        img(src=item.source, alt=item.alt)
                        p= item.name

                        div.copy-btn
                            - var classes = ['svg-icon', 'svg-icon-copy', 'svg-icon-bg-black']
                            div(class=classes)

                each val, idx in listItems
                    +listItem(val)

        div.icon-modal
            div.modal-content
                span.close.prevent-select &times
                //- h2.modal-content__icon-name svg-icon-color
                .modal-content-inner
                    .modal-content-row
                        .info-content
                            span.prevent-select изменение цвета иконки
                            div.icons
                                div.icon.active
                                    div(class=['svg-icon'])
                                div.icon
                                    div(class=['svg-icon', 'svg-icon-bg-black'])
                                div.icon
                                    div(class=['svg-icon', 'svg-icon-bg-gray'])
                                div.icon
                                    div(class=['svg-icon', 'svg-icon-bg-white'])
                                div.icon
                                    div(class=['svg-icon', 'svg-icon-disabled'])

                    .modal-content-row
                        .info-content 
                            span.info-content__cls
                            .copy-btn-wrapper 
                                button copy            

        script(src='./iconpack.js')
